
<h3> Peliculas que te gustan</h3>
<center>
 <% Pelicula.where(like: @like.id).each do |pelicula| %> 
<table>
	<thead>
           <p> titulo</p>
           <p> <%= pelicula.title %> </p>
           <p> descripcion</p>
           <p> <%= pelicula.description %> </p>
           <strong>image:</strong>
          
            <div>
            <%if pelicula.image.nil?%>
             <p> no hay imagen</p>
           <%else%>
        
           <p><img src="<%= pelicula.image %>" width="50" height="50"  > </img></p>
      
    <%end%>
    </div>

    </thead>
</center>
 
<% end %>
</table>
<%= link_to 'favoritos', likes_path %>

